<div mat-dialog-title>
    <h3>Aggiungi Membro direttivo</h3>
</div>
<form #form="ngForm" mat-dialog-content>
    <div>
        <label for="socio">Socio: </label>
        <mat-form-field>
            <mat-select placeholder="Soci" [(ngModel)]="socio" selected="socio" required name="socio" #inputSocio="ngModel" >
                <mat-option *ngFor="let soci of allSoci" [value]="soci">
                    {{soci.id}} - {{soci.nome}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="inputSocio.errors && inputSocio.error.required" >
                Il campo è obbligatorio!
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <label for="user">Username: </label>
        <mat-form-field>
            <input  type="text" matInput name="user" required #inputUser="ngModel"
                    [(ngModel)]="user" [pattern]="PATTERN_USER" />
            <mat-error *ngIf="inputUser.errors && inputUser.errors.required">
                Il campo è obbligatorio!
            </mat-error>
            <mat-error *ngIf="inputUser.errors && inputUser.errors.pattern">
                L'username deve contenere almeno 3 caratteri tra cifre e lettere.
            </mat-error>
            <mat-hint *ngIf="inputUser.untouched || !inputUser.value">
                L'username deve contenere almeno 3 caratteri tra cifre e lettere.
            </mat-hint>
        </mat-form-field>
    </div>
    <div>
        <label for="password">Password: </label>
        <mat-form-field>
            <input  type="text" matInput name="password" required #inputPass="ngModel"
                    [(ngModel)]="password" [pattern]="PATTERN_PASSWORD"/>
            <mat-error *ngIf="inputPass.errors && inputPass.errors.required">
                Il campo è obbligatorio!
            </mat-error>
            <mat-error *ngIf="inputPass.errors && inputPass.errors.pattern">
                La password deve contenere almeno 6 caratteri. Non può contenere spazi.
            </mat-error>
            <mat-hint *ngIf="inputPass.untouched || !inputPass.value">
                La password deve contenere almeno 6 caratteri. Non può contenere spazi.
            </mat-hint>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="to_right">
        <button type="button" mat-icon-button mat-dialog-close>
            <mat-icon  matTooltip="Annulla" matTooltipPosition="below">close</mat-icon>
        </button>
        <button type="submit" mat-icon-button (click)="addMembro(form)" [disabled]="form.invalid">
            <mat-icon  matTooltip="Salva" matTooltipPosition="below">done</mat-icon>
        </button>
    </div>
</form>