<div>
    <h2 style="display: inline-block"> Direttivo </h2>
    <button mat-icon-button style="float: right; margin: 0.83em 0" (click)="addMembro()">
        <mat-icon mdTooltip="Apri" mdTooltipPosition="above">add</mat-icon>
    </button>
</div>
<mat-table [dataSource]="direttivoSource">

    <ng-container cdkColumnDef="user">
        <mat-header-cell *cdkHeaderCellDef> Username </mat-header-cell>
        <mat-cell *cdkCellDef="let row; let ind=index">
            <!--{{row.user}}-->
            <text-viewedit [(ngModel)]="row.user" [flag]="editing[ind]"></text-viewedit>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="password">
        <mat-header-cell *cdkHeaderCellDef> Password </mat-header-cell>
        <mat-cell *cdkCellDef="let row; let ind=index">
            <text-viewedit [(ngModel)]="row.password" [flag]="editing[ind]"></text-viewedit>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="azioni">
        <mat-header-cell *cdkHeaderCellDef> Azioni </mat-header-cell>
        <mat-cell *cdkCellDef="let row; let ind = index">
            <button mat-icon-button (click)="editing[ind] = true" *ngIf="!editing[ind]">
                <mat-icon mdTooltip="Modifica" mdTooltipPosition="left">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="editing[ind] = false" *ngIf="editing[ind]">
                <mat-icon mdTooltip="Conferma" mdTooltipPosition="left">done</mat-icon>
            </button>
            <a mat-icon-button routerLink="/soci/{{row.id}}">
                <mat-icon mdTooltip="Dettagli" mdTooltipPosition="below">link</mat-icon>
            </a>
            <button mat-icon-button (click)="deleteMembro(row)">
                <mat-icon mdTooltip="Elimina" mdTooltipPosition="right">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="direttivoColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: direttivoColumns;"></mat-row>

</mat-table>