.to_left{
  float: left;
  margin-right: auto;
}

.to_right{
  float: right;
  margin-left: auto;
}

.centered{
  text-align: center;
}

.half-size{
  width: 48%;
  padding: 0 1%
}

.fontstyle{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  word-wrap: break-word;
}

.main-container{
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  word-wrap: break-word;
}

/*
 ::ng-deep necessary to add to the component from everywhere, due to encapsulation.
 see https://github.com/angular/angular/issues/17377 for further reference
 Since ::ng-deep is deprecated, it might break when it will be removed.
 When it will break, hopefully there will be a new solution (as stated in the issue above)
*/
::ng-deep .mat-sort-header-container{
  justify-content: center;
}