.to_left{
  display: block;
  float: left;
}

.to_right{
  display: block;
  float: right;
}

.centered{
  text-align: center;
}

.half-size{
  width: 50%
}

.fontstyle{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container{
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}