<mat-toolbar color="primary">
    <h2 style="width: 100%"> Login </h2>
</mat-toolbar>
<form #form="ngForm" class="fontstyle">
    <div class="formlist">
        <label for="user">Username: </label>
        <mat-input-container>
            <input type="text" matInput name="user" required [(ngModel)]="user" />
        </mat-input-container>
    </div>
    <div class="formlist">
        <label for="password">Password: </label>
        <mat-input-container>
            <input type="password" matInput name="password" required [(ngModel)]="password" />
        </mat-input-container>
    </div>
    <button mat-raised-button color="primary" type="submit" name="login" (click)="login(form)" [disabled]="form.invalid">
        Login
    </button>
</form>