<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-app-background">
  <md-toolbar color="primary">
      <a md-raised-button class="custom-button" color="accent" routerLink="/soci">Soci</a>
      <a md-raised-button class="custom-button" color="accent" routerLink="/corsi">Corsi di Laurea</a>
      <a md-raised-button class="custom-button" color="accent" routerLink="/direttivo">Direttivo</a>
  </md-toolbar>
  <div style="text-align:center">
    <router-outlet></router-outlet>
  </div>
</div>
