.toolbar-button{
  margin-left: 0.5em;
}

.sidenav-button{
  margin-top: 0.5em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}


.to-right{
  display: inline-block;
  float: right
}

.full-size{
  flex-grow: 1;
}