.main-container{
    display: flex;
}

.list-container{
    width: 47%;
    margin: 0;
    overflow-y: auto;
}

.button-container{
    width: 6%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button{
    flex-grow: 1;
}