<form #form="ngForm">
    <div class="form-container">
        <div class="form-left-col">
            <div>
                <label for="feedback">Indirizzo di feedback:</label>
                <mat-form-field>
                    <input type="text" name="feedback" matInput [(ngModel)]="email_feedback" required email #inputFeedback="ngModel" />
                    <mat-error *ngIf="inputFeedback.errors && inputFeedback.errors.required">
                        Il campo è obbligatorio!
                    </mat-error>
                    <mat-error *ngIf="inputFeedback.errors && inputFeedback.errors.email && !inputFeedback.errors.required">
                        Il campo non è una email corretta!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="checkbox-area">
                <div class="checkbox-list">
                    <div class="checkbox-container">
                        <mat-checkbox color="primary" [(ngModel)]="blacklist" name="blacklist">
                            Escludi blacklist
                        </mat-checkbox>
                    </div>
                    <div class="checkbox-container" ngModelGroup="destinatari" checkbox-group>
                        <mat-checkbox color="primary" [(ngModel)]="lavoratori" name="lavoratori">
                            Lavoratori
                        </mat-checkbox>
                    </div>
                </div>
                <div class="checkbox-list" ngModelGroup="destinatari" #groupCorsi="ngModelGroup">
                    <div class="checkbox-container">
                        <mat-checkbox color="primary" [(ngModel)]="tutti" (change)="tuttiCallback()" name="tutti" checkbox-bypass>
                            Tutti i corsi
                        </mat-checkbox>
                    </div>
                    <div *ngFor="let corso of corsi" class="checkbox-container">
                        <mat-checkbox color="primary" [(ngModel)]="corsi_checked[corso.id]" [disabled]="corsi_disabled[corso.id]" [name]="'corso_'+corso.id+'_checkbox'">
                            {{corso.nome}}
                        </mat-checkbox>
                    </div>
                    <div class="checkbox-container">
                        <mat-error *ngIf="form.touched && groupCorsi.errors && groupCorsi.errors.checkboxGroup">
                            E&#768; necessario selezionare almeno un gruppo di destinatari.
                        </mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-right-col">
            <div>
                <label for="oggetto">Oggetto:</label>
                <mat-form-field>
                    <input type="text" name="oggetto" matInput [(ngModel)]="oggetto" required #inputOggetto="ngModel" />
                    <mat-error *ngIf="inputOggetto.errors && inputOggetto.errors.required">
                        Il campo è obbligatorio!
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <label id="label-contenuto" for="contenuto">Contenuto:</label>
                <mat-form-field>
                    <textarea matInput name="contenuto" rows="10" [(ngModel)]="corpo" required #inputCorpo="ngModel">
                    </textarea>
                    <mat-error *ngIf="inputCorpo.errors && inputCorpo.errors.required">
                        Il campo è obbligatorio!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="button-container">
                <button mat-raised-button color="primary" (click)="sendEmail(form)" [disabled]="form.invalid">
                    Invia
                </button>
            </div>
        </div>
    </div>
</form>