<h2> Corsi </h2>
<div class="example-container">
    <div class="example-header">
      <md-input-container floatPlaceholder="never">
        <input mdInput #filter placeholder="Ricerca corsi">
      </md-input-container>
    </div>
    
    <md-table #table [dataSource]="corsiSource" mdSort>
  <!--TODO prevedere aggiunta e cancellazione Corsi di Laurea-->
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <ng-container cdkColumnDef="id">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Id  </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
      </ng-container>
            
      <ng-container cdkColumnDef="nome">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Nome </md-header-cell>
        <md-cell *cdkCellDef="let row; let ind = index"> 
          <text-viewedit [flag]="editing[ind]" [(ngModel)]="row.nome" placeholder="Nome" ></text-viewedit>
        </md-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="azioni">
          <md-header-cell *cdkHeaderCellDef> Azioni </md-header-cell>
          <md-cell *cdkCellDef="let row; let ind = index">
            <button md-icon-button (click)="editing[ind] = true" *ngIf="!editing[ind]">
              <md-icon mdTooltip="Modifica" mdTooltipPosition="right">mode_edit</md-icon>
            </button>
            <!--TODO check double click handler-->
            <button md-icon-button (click)="updateCorso(row, ind)" *ngIf="editing[ind]">
              <md-icon mdTooltip="Conferma" mdTooltipPosition="right">done</md-icon>
            </button>
          </md-cell>
        </ng-container>
      
      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>