<div md-dialog-title>
    <h3>Nuova Carriera</h3>
</div>
<form md-dialog-content #form="ngForm">
    <label for="studente">Studente:</label>
    <md-slide-toggle [(ngModel)]="model.studente" name="studente" color="primary" required></md-slide-toggle>
    <ng-container *ngIf="model.studente">
        <div>
            <label for="matricola">Matricola:</label>
            <md-input-container>
                <input type="text" name="matricola" [(ngModel)]="model.matricola" mdInput [required]="model.studente" />
            </md-input-container>
            <label for="cdl">Corso di laurea:</label>
            <corsi-viewedit [(ngModel)]="model.corso" [flag]="true" required name="corso"></corsi-viewedit>
        </div>
    </ng-container>

    <ng-container *ngIf="!model.studente">
        <div>
            <label for="professione">Professione:</label>
            <md-input-container>
                <input type="text" name="professione" [(ngModel)]="model.professione" mdInput [required]="!model.studente" />
            </md-input-container>
        </div>
    </ng-container>
</form>
<div md-dialog-actions style="display: block">
    <button md-icon-button class="to_right" (click)="commitCarriera(form)" [disabled]="form.invalid">
        <md-icon mdTooltip="Conferma" mdTooltipPosition="below">done</md-icon>
    </button>
    <button md-icon-button md-dialog-close class="to_right" >
        <md-icon mdTooltip="Annulla" mdTooltipPosition="below">close</md-icon>
    </button>
</div>