<div mat-dialog-title>
    <h3>Nuova Carriera</h3>
</div>
<form mat-dialog-content #form="ngForm">
    <label for="studente">Studente:</label>
    <mat-slide-toggle [(ngModel)]="model.studente" name="studente" color="primary" required></mat-slide-toggle>
    <ng-container *ngIf="model.studente">
        <div>
            <label for="cdl">Corso di laurea:</label>
            <div class="mat-form-field">
                <corsi-viewedit [(ngModel)]="model.corso" [flag]="true" required name="corso"></corsi-viewedit>
            </div>
        </div>
        <div>
            <label for="matricola">Matricola:</label>
            <mat-form-field>
                <input  type="text" name="matricola" [(ngModel)]="model.matricola" #inputMatricola="ngModel"
                        matInput [required]="model.studente" [pattern]="PATTERN_MATRICOLA"/>
                <mat-error *ngIf="inputMatricola.errors && inputMatricola.errors.required">
                    Il campo è obbligatorio!
                </mat-error>
                <mat-error *ngIf="inputMatricola.errors && inputMatricola.errors.pattern">
                    La matricola è di 10 cifre, di cui lo zero iniziale può essere omesso.
                </mat-error>
                <mat-hint *ngIf="inputMatricola.untouched || !inputMatricola.value">
                    La matricola è di 10 cifre, di cui lo zero iniziale può essere omesso.
                </mat-hint>
            </mat-form-field>
        </div>
    </ng-container>

    <ng-container *ngIf="!model.studente">
        <div>
            <label for="professione">Professione:</label>
            <mat-form-field>
                <input type="text" name="professione" #inputProfessione="ngModel"
                        [(ngModel)]="model.professione" matInput [required]="!model.studente" />
                <mat-error *ngIf="inputProfessione.errors && inputProfessione.errors.required">
                    Il campo è obbligatorio!
                </mat-error>
            </mat-form-field>
        </div>
    </ng-container>
</form>
<div mat-dialog-actions style="display: block">
    <button type="submit" mat-icon-button class="to_right" (click)="commitCarriera(form)" [disabled]="form.invalid">
        <mat-icon matTooltip="Conferma" matTooltipPosition="below">done</mat-icon>
    </button>
    <button type="button" mat-icon-button mat-dialog-close class="to_right" >
        <mat-icon matTooltip="Annulla" matTooltipPosition="below">close</mat-icon>
    </button>
</div>