<div mat-dialog-title>
    <h3>Nuova Carriera</h3>
</div>
<form mat-dialog-content #form="ngForm">
    <label for="studente">Studente:</label>
    <mat-slide-toggle [(ngModel)]="model.studente" name="studente" color="primary" required></mat-slide-toggle>
    <ng-container *ngIf="model.studente">
        <div>
            <label for="matricola">Matricola:</label>
            <mat-input-container>
                <input type="text" name="matricola" [(ngModel)]="model.matricola" matInput [required]="model.studente" />
            </mat-input-container>
            <label for="cdl">Corso di laurea:</label>
            <div class="mat-form-field">
                <corsi-viewedit [(ngModel)]="model.corso" [flag]="true" required name="corso"></corsi-viewedit>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!model.studente">
        <div>
            <label for="professione">Professione:</label>
            <mat-input-container>
                <input type="text" name="professione" [(ngModel)]="model.professione" matInput [required]="!model.studente" />
            </mat-input-container>
        </div>
    </ng-container>
</form>
<div mat-dialog-actions style="display: block">
    <button mat-icon-button class="to_right" (click)="commitCarriera(form)" [disabled]="form.invalid">
        <mat-icon matTooltip="Conferma" matTooltipPosition="below">done</mat-icon>
    </button>
    <button mat-icon-button mat-dialog-close class="to_right" >
        <mat-icon matTooltip="Annulla" matTooltipPosition="below">close</mat-icon>
    </button>
</div>