<ng-container *ngIf="!flag" [@flyInOut]>
    <ng-container *ngIf="config.display==DisplayOptions.icon">
        <mat-icon *ngIf="content">check</mat-icon>
        <mat-icon *ngIf="!content">close</mat-icon>
    </ng-container>
    <ng-container *ngIf="config.display==DisplayOptions.text">
        <ng-container *ngIf="content">{{config.trueView}}</ng-container>
        <ng-container *ngIf="!content">{{config.falseView}}</ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="flag">
        <mat-slide-toggle [@flyInOut] [(ngModel)]="content" 
                        name="content" color="primary">
        </mat-slide-toggle>
</ng-container>