{{content}}
<ng-container *ngIf="!flag" [@flyInOut]>
    <ng-container *ngIf="config.display==DisplayOptions.icon">
        <md-icon *ngIf="content">check</md-icon>
        <md-icon *ngIf="!content">close</md-icon>
    </ng-container>
    <ng-container *ngIf="config.display==DisplayOptions.text">
        <ng-container *ngIf="content">{{config.trueView}}</ng-container>
        <ng-container *ngIf="!content">{{config.falseView}}</ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="flag">
        <md-slide-toggle [@flyInOut] [(ngModel)]="content" 
                        name="content" color="primary">
        </md-slide-toggle>
</ng-container>