<ng-container *ngIf="!flag" [@flyInOut]>
    {{content}}
</ng-container>
<ng-container *ngIf="flag" [@flyInOut]>
    <ng-container *ngIf="content && content.studente">
        <corsi-viewedit [(ngModel)]="content.corso" [flag]="true" [required]="inputRequired"></corsi-viewedit>
    </ng-container>
    <md-input-container *ngIf="content && !content.studente">
        <input type="text" [(ngModel)]="content" [name]="content" mdInput [required]="inputRequired" class="full_cell" />
    </md-input-container>
</ng-container>