<ng-container *ngIf="!flag" [@flyInOut]>
    {{content.nome}}
</ng-container>
<mat-form-field *ngIf="flag" [@flyInOut]>
    <mat-select [compareWith]="compareFn" placeholder="Corsi di Laurea" [(ngModel)]="content" [required]="inputRequired" matInput>
        <mat-option *ngFor="let corso of allCorsi | async" [value]="corso">
            {{corso.nome}}
        </mat-option>
    </mat-select>
    <mat-error>
        <ng-content select="mat-error"></ng-content>
    </mat-error>
    <mat-hint>
        <ng-content select="mat-hint"></ng-content>
    </mat-hint>
</mat-form-field>