<mat-form-field *ngIf="flag" floatLabel="never" [@flyInOut]="'in'">
    <input  type="text"  [(ngModel)]="content" [pattern]="pattern"
            [name]="name" matInput [required]="inputRequired"/>
    <mat-error>
        <ng-content select="mat-error"></ng-content>
    </mat-error>
    <mat-hint>
        <ng-content select="mat-hint"></ng-content>
    </mat-hint>
</mat-form-field>
<ng-container [@flyInOut]="'in'" *ngIf="!flag">
        <p *ngIf="url == email" class="full_cell">{{content}}</p>
        <a *ngIf="url && !email" class="full_cell" [href]="content" target="_blank">{{content}}</a>
        <a *ngIf="email && !url" class="full_cell" [href]="'mailto:'+content" >{{content}}</a>
</ng-container>
