<titlebar>
    <h2 center> Tesseramenti </h2>
    <button right mat-icon-button (click)="newCallback()">
        <mat-icon matTooltip="Apri" matTooltipPosition="left">add</mat-icon>
    </button>
</titlebar>
<div style="overflow-x: auto">
    <mat-table #table [dataSource]="tessSource">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <ng-container cdkColumnDef="anno">
            <mat-header-cell *cdkHeaderCellDef> Anno </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <text-viewedit [(ngModel)]="row.anno" required nome="anno" [flag]="editing[row.id]" #inputAnno="ngModel">
                    <mat-error *ngIf="inputAnno.errors && inputAnno.errors.required">
                        Il campo è obbligatorio!
                    </mat-error>
                </text-viewedit>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="aperto">
            <mat-header-cell *cdkHeaderCellDef> Stato </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <span *ngIf="row.aperto">Aperto</span>
                <span *ngIf="!row.aperto">Chiuso</span>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="azioni">
            <mat-header-cell *cdkHeaderCellDef> Azioni </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <button *ngIf="!editing[row.id]" mat-icon-button (click)="editing[row.id]=true">
                    <mat-icon matTooltip="Modifica" matTooltipPosition="left">edit</mat-icon>
                </button>
                <button *ngIf="editing[row.id]" mat-icon-button (click)="commitChanges(row)">
                    <mat-icon matTooltip="Conferma" matTooltipPosition="left">done</mat-icon>
                </button>
                <button *ngIf="editing[row.id]" mat-icon-button (click)="revertChanges(row)">
                    <mat-icon matTooltip="Annulla" matTooltipPosition="left">close</mat-icon>
                </button>
                <button *ngIf="row.aperto" mat-icon-button (click)="showTessereAssegnate(row)">
                    <mat-icon matTooltip="Info tessere" matTooltipPosition="right">more</mat-icon>
                </button>
                <a mat-icon-button [href]="BACKEND_SERVER+'statino.php?anno='+row.id">
                    <mat-icon matTooltip="Scarica Statini PDF" matTooltipPosition="above">attach_file</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>