<div class="main-container">
    <titlebar>
        <h2 center> Nuova Tessera </h2>
    </titlebar>
    <ng-container *ngIf="loading.isLoaded()">
        <ng-container *ngIf="!error">
            <form #form="ngForm">
                <div>

                    <div fxLayout="row" >
                        <h3 fxFlex="space-around">Socio</h3>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="nome">Nome:</label>
                            <mat-form-field fxFlex="100%">
                                <input type="text" name="nome" [(ngModel)]="model.nome" matInput required #inputNome="ngModel" />
                                <mat-error *ngIf="inputNome.errors && inputNome.errors.required">
                                    Il campo è obbligatorio!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="cognome">Cognome:</label>
                            <mat-form-field fxFlex="100%">
                                <input type="text" name="cognome" [(ngModel)]="model.cognome" matInput required
                                    #inputCognome="ngModel" />
                                <mat-error *ngIf="inputCognome.errors && inputCognome.errors.required">
                                    Il campo è obbligatorio!
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="email">E-Mail:</label>
                            <mat-form-field fxFlex="100%">
                                <input type="text" name="email" [(ngModel)]="model.email" matInput required email
                                    #inputEmail="ngModel" />
                                <mat-error *ngIf="inputEmail.errors && inputEmail.errors.required">
                                    Il campo è obbligatorio!
                                </mat-error>
                                <mat-error *ngIf="inputEmail.errors && inputEmail.errors.email && !inputEmail.errors.required">
                                    Non è una email valida!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="cellulare">Cellulare:</label>
                            <mat-form-field fxFlex="100%">
                                <input type="text" name="cellulare" [(ngModel)]="model.cellulare" matInput [pattern]="PATTERN_CELLULARE"
                                    #inputCell="ngModel" />
                                <mat-error *ngIf="inputCell.errors && inputCell.errors.pattern">
                                    Non corrisponde al formato previsto
                                </mat-error>
                                <mat-hint *ngIf="inputCell.untouched || !inputCell.value">
                                    10 cifre con, eventualmente, il prefisso internazionale.
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="facebook">Facebook:</label>
                            <mat-form-field fxFlex="100%">
                                <input type="text" name="facebook" [(ngModel)]="model.facebook" matInput />
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <h3 fxFlex="space-around">
                            Carriera
                        </h3>
                        <button *ngIf="!isNewCarriera()" mat-icon-button (click)="addCarriera()">
                            <mat-icon matTooltip="Aggiungi carriera" matTooltipPosition="above">add</mat-icon>
                        </button>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="studente">Studente:</label>
                            <bool-viewedit [(ngModel)]="model.carriere[0].studente" name="studente" [flag]="isNewCarriera()">
                            </bool-viewedit>
                        </div>
                    </div>

                    <ng-container *ngIf="model.carriere[0].studente">
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                                <label fxFlex="31%" for="matricola">Matricola:</label>
                                <text-viewedit name="matricola" [(ngModel)]="model.carriere[0].matricola" [required]="model.carriere[0].studente"
                                    [pattern]="PATTERN_MATRICOLA" #inputMatricola="ngModel" [flag]="isNewCarriera()"
                                    mat-form-fiel>
                                    <mat-error *ngIf="inputMatricola.errors && inputMatricola.errors.required">
                                        Il campo è obbligatorio!
                                    </mat-error>
                                    <mat-error *ngIf="inputMatricola.errors && inputMatricola.errors.pattern">
                                        La matricola è di 10 cifre, di cui lo zero iniziale può essere omesso.
                                    </mat-error>
                                    <mat-hint *ngIf="inputMatricola.untouched || !inputMatricola.value">
                                        La matricola è di 10 cifre, di cui lo zero iniziale può essere omesso.
                                    </mat-hint>
                                </text-viewedit>
                            </div>
                            <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                                <label fxFlex="31%" for="corso">Corso di laurea:</label>
                                <div class="mat-form-field" fxFlex="100%">
                                    <corsi-viewedit [(ngModel)]="model.carriere[0].corso" [flag]="isNewCarriera()"
                                        [required]="model.carriere[0].studente" name="corso"></corsi-viewedit>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!model.carriere[0].studente">
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                            <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                                <label fxFlex="31%" for="professione">Professione:</label>
                                <text-viewedit [flag]="isNewCarriera()" name="professione" [(ngModel)]="model.carriere[0].professione"
                                    matInput [required]="!model.carriere[0].studente" #inputProfessione="ngModel">
                                    <mat-error *ngIf="inputProfessione.errors && inputProfessione.errors.required">
                                        Il campo è obbligatorio!
                                    </mat-error>
                                </text-viewedit>
                            </div>
                        </div>
                    </ng-container>

                    <div fxLayout="row">
                        <h3 fxFlex="space-around">Tessera</h3>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="numero">Numero Tessera:</label>
                            <mat-form-field fxFlex="100%">
                                <input type="text" name="numero" [(ngModel)]="model.tessere[0].numero" [notInArray]="tessAttivo.tessere"
                                    #inputNumero="ngModel" matInput required [pattern]="PATTERN_NUMERO_TESSERA">
                                <mat-error *ngIf="inputNumero.errors && inputNumero.errors.required">
                                    Il campo è obbligatorio!
                                </mat-error>
                                <mat-error *ngIf="inputNumero.errors && inputNumero.errors.pattern">
                                    Devi inserire un numero valido.
                                </mat-error>
                                <mat-error *ngIf="inputNumero.errors && inputNumero.errors.notInArray">
                                    La tessera è già assegnata!.
                                </mat-error>
                                <mat-hint *ngIf="inputNumero.untouched || !inputNumero.value">
                                    Un numero (anche negativo).
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="anno"> Anno:</label>
                            <p> {{ model.tessere[0].anno }} </p>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em">
                        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <label fxFlex="31%" for="facebook">Quota:</label>
                            <mat-form-field fxFlex="100%">
                                <input type="text" name="quota" [(ngModel)]="model.tessere[0].quota" matInput required
                                    pattern="\d+" #inputQuota="ngModel" />
                                <mat-error *ngIf="inputQuota.errors && inputQuota.errors.required">
                                    Il campo è obbligatorio!
                                </mat-error>
                                <mat-error *ngIf="inputQuota.errors && inputQuota.errors.pattern">
                                    Devi inserire un numero valido.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5em">
                        <div fxFlex="15.5%" fxFlex.lt-md="31%" fxLayout="row" fxLayoutAlign="end center">
                            <mat-checkbox [(ngModel)]="authAccept" required name="auth" #authCheck="ngModel">
                            </mat-checkbox>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <p fxFlex="0 0 100%">
                                Autorizzo il trattamento dei miei dati personali ai sensi del Dlgs 196 del 30
                                giugno
                                2003 e dell’art. 13 GDPR (Regolamento UE 2016/679) all'uso per fini statistici.
                                Autorizzo inoltre a
                                ricevere comunicazioni inerenti attività promosse dall'associazione
                                tramite i contatti qui forniti.
                            </p>
                            <div fxFlex="0 0 100%">
                                <mat-error *ngIf="form.touched && authCheck.touched && !authAccept">
                                    E&#768; necessario autorizzare il trattamento dei dati.
                                </mat-error>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="display: block">
                    <button class="to_right" mat-raised-button (click)="revertForm(form)">
                        Annulla
                        <mat-icon>close</mat-icon>
                    </button>
                    <button color="primary" type="submit" class="to_right" mat-raised-button (click)="submitForm(form)"
                        [disabled]="form.invalid">
                        Conferma
                        <mat-icon>check</mat-icon>
                    </button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="error">
            <div mg-dialog-content>
                <h3>{{error}}</h3>
            </div>
        </ng-container>
    </ng-container>
</div>