label{
    text-align: right;
    display: inline-block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 600;    
}

form{
    padding-right: 3vw;
}

/* 
    colore di background dal tema, letto dal bottone.
    Se si trova un modo di usare direttamente quello del tema modificare.
*/
.darker-bg{
    background-color: #b0bec54d;
    width: 100vw
}