<div class="fontstyle" *ngIf="loaded">
    <titlebar mat-dialog-title>
        <h3 center> Modifica dati {{model.nome}} </h3>
    </titlebar>
    <form #form="ngForm" class="in_dialog">
        <div mat-dialog-content>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1em">
                <span fxFlex="31%" class="label">Nome:</span>
                <text-viewedit fxFlex="100%" [(ngModel)]="model.nome" name="nome" [flag]="editing" required #inputNome="ngModel">
                    <mat-error *ngIf="inputNome.errors && inputNome.errors.required">
                        Il campo è obbligatorio!
                    </mat-error>
                </text-viewedit>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1em">
                <span fxFlex="31%" class="label">Cognome:</span>
                <text-viewedit fxFlex="69%" [(ngModel)]="model.cognome" name="cognome" [flag]="editing" required #inputCognome="ngModel">
                    <mat-error *ngIf="inputCognome.errors && inputCognome.errors.required">
                        Il campo è obbligatorio!
                    </mat-error>
                </text-viewedit>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1em">
                <span fxFlex="31%" class="label">Email:</span>
                <text-viewedit fxFlex="69%" [(ngModel)]="model.email" name="email" [flag]="editing" required email #inputEmail="ngModel">
                    <mat-error *ngIf="inputEmail.errors && inputEmail.errors.required">
                        Il campo è obbligatorio!
                    </mat-error>
                    <mat-error *ngIf="inputEmail.errors && inputEmail.errors.email && !inputEmail.errors.required">
                        Non è una email valida!
                    </mat-error>
                </text-viewedit>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1em">
                <span fxFlex="31%" class="label">Cellulare:</span>
                <text-viewedit fxFlex="100%" [(ngModel)]="model.cellulare" name="cellulare" [flag]="editing" #inputCell="ngModel"
                    [pattern]="PATTERN_CELLULARE">
                    <mat-error *ngIf="inputCell.errors && inputCell.errors.pattern">
                        Non corrisponde al formato previsto
                    </mat-error>
                    <mat-hint *ngIf="inputCell.untouched || !inputCell.value">
                        10 cifre con, eventualmente, il prefisso internazionale.
                    </mat-hint>
                </text-viewedit>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1em">
                <span fxFlex="31%" class="label">Facebook:</span>
                <text-viewedit fxFlex="69%" [(ngModel)]="model.facebook" name="facebook" [flag]="editing"></text-viewedit>
            </div>
            <div class="table-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start" fxLayoutGap="1em">
                <div fxFlex="31%" fxLayout="column" fxLayout.lt-sm="row" fxLayoutAlign="end end">
                    <p class="label">Carriere:</p>
                    <button mat-icon-button *ngIf="editing" (click)="addCarriera()">
                        <mat-icon matTooltip="Nuova carriera" matTooltipPosition="left">add</mat-icon>
                    </button>
                </div>
                <mat-table fxFlex="100%" [dataSource]="carriereSource">

                    <ng-container cdkColumnDef="studente">
                        <mat-header-cell *cdkHeaderCellDef> Tipo </mat-header-cell>
                        <mat-cell *cdkCellDef="let row">
                            {{row.studente ? 'Studente' : 'Lavoratore'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="dettagli">
                        <mat-header-cell *cdkHeaderCellDef> Corso / Professione </mat-header-cell>
                        <mat-cell *cdkCellDef="let row">
                            <ng-container *ngIf="!carriereEditing[row.id]">
                                {{row}}
                            </ng-container>
                            <ng-container *ngIf="carriereEditing[row.id]">
                                <ng-container *ngIf="row.studente">
                                    <div>
                                        <label for="corso">Corso:</label>
                                        <corsi-viewedit [(ngModel)]="row.corso" [flag]="true" required name="corso" #inputCorso="ngModel">
                                            <mat-error *ngIf="inputCorso.errors && inputCorso.errors.required">
                                                Il campo è obbligatorio!
                                            </mat-error>
                                        </corsi-viewedit>
                                    </div>
                                    <div>
                                        <label for="matricola">Matricola:</label>
                                        <mat-form-field style="display: inline-block">
                                            <input type="text" matInput required [(ngModel)]="row.matricola" name="matricola" [required]="row.studente" [pattern]="PATTERN_MATRICOLA"
                                                #inputMatricola="ngModel" />
                                            <mat-error *ngIf="inputMatricola.errors && inputMatricola.errors.required">
                                                Il campo è obbligatorio!
                                            </mat-error>
                                            <mat-error *ngIf="inputMatricola.errors && inputMatricola.errors.pattern">
                                                La matricola è di 10 cifre, di cui lo zero iniziale può essere omesso.
                                            </mat-error>
                                            <mat-hint *ngIf="inputMatricola.untouched || !inputMatricola.value">
                                                La matricola è di 10 cifre, di cui lo zero iniziale può essere omesso.
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                                <mat-form-field *ngIf="!row.studente">
                                    <input type="text" [(ngModel)]="row.professione" name="professione" matInput required #inputProfessione="ngModel" />
                                    <mat-error *ngIf="inputProfessione.errors && inputProfessione.errors.required">
                                        Il campo è obbligatorio!
                                    </mat-error>
                                </mat-form-field>
                            </ng-container>
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="azioni">
                        <mat-header-cell *cdkHeaderCellDef> Azioni </mat-header-cell>
                        <mat-cell *cdkCellDef="let row;">
                            <button mat-icon-button (click)="carriereEditing[row.id] = !carriereEditing[row.id]">
                            <mat-icon matTooltip="Modifica" matTooltipPosition="left">edit</mat-icon>
                        </button>
                            <button mat-icon-button (click)="deleteCarriera(row.id)">
                            <mat-icon matTooltip="Elimina" matTooltipPosition="right">delete</mat-icon>
                        </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *cdkHeaderRowDef="carriereColumns"></mat-header-row>
                    <mat-row *cdkRowDef="let row; columns: carriereColumns;"></mat-row>

                </mat-table>
            </div>
            <div class="table-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start" fxLayoutGap="1em">
                <div fxFlex="31%" fxLayout="column" fxLayout.lt-sm="row" fxLayoutAlign="end end">
                    <p class="label">Tessere:</p>
                    <button mat-icon-button *ngIf="editing && !hasTessera" (click)="addTessera()">
                            <mat-icon matTooltip="Nuova tessera" matTooltipPosition="left">add</mat-icon>
                        </button>
                </div>
                <mat-table fxFlex="100%" [dataSource]="tessereSource">

                    <ng-container cdkColumnDef="numero">
                        <mat-header-cell *cdkHeaderCellDef> Numero </mat-header-cell>
                        <mat-cell *cdkCellDef="let row">
                            <ng-container *ngIf="!tessereEditing[row.id]">
                                {{row.numero}}
                            </ng-container>
                            <ng-container *ngIf="tessereEditing[row.id]">
                                <mat-form-field>
                                    <input type="text" [(ngModel)]="row.numero" name="numero" #inputNumero="ngModel"
                                            matInput required [pattern]="PATTERN_NUMERO_TESSERA" [notInArray]="row.anno.tessere"
                                    />
                                    <mat-error *ngIf="inputNumero.errors && inputNumero.errors.required">
                                        Il campo è obbligatorio!
                                    </mat-error>
                                    <mat-error *ngIf="inputNumero.errors && inputNumero.errors.pattern">
                                        Devi inserire un numero valido.
                                    </mat-error>
                                    <mat-error *ngIf="inputNumero.errors && inputNumero.errors.notInArray">
                                        La tessera è già assegnata!.
                                    </mat-error>
                                    <mat-hint *ngIf="inputNumero.untouched || !inputNumero.value">
                                        Un numero (anche negativo).
                                    </mat-hint>
                                </mat-form-field>
                            </ng-container>
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="anno">
                        <mat-header-cell *cdkHeaderCellDef> Anno </mat-header-cell>
                        <mat-cell *cdkCellDef="let row"> {{row.anno}} </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="azioni">
                        <mat-header-cell *cdkHeaderCellDef> Azioni </mat-header-cell>
                        <mat-cell *cdkCellDef="let row">
                            <button *ngIf="row.anno.aperto" mat-icon-button (click)="tessereEditing[row.id] = !tessereEditing[row.id]">
                                <mat-icon matTooltip="Modifica" matTooltipPosition="left">edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *cdkHeaderRowDef="tessereColumns"></mat-header-row>
                    <mat-row *cdkRowDef="let row; columns: tessereColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <div mat-dialog-actions style="text-align: end; flex-direction: row-reverse; padding-bottom: 10px;">
            <ng-container *ngIf="editing">
                <button mat-icon-button (click)="revert(form)">
                <mat-icon matTooltip="Annulla" matTooltipPosition="above">close</mat-icon>
            </button>
                <button mat-icon-button (click)="confirm(form)" [disabled]="form.invalid">
                <mat-icon matTooltip="Conferma" matTooltipPosition="above">done</mat-icon>
            </button>
            </ng-container>
            <ng-container *ngIf="!editing">
                <button mat-icon-button (click)="enableEditing()">
                <mat-icon matTooltip="Modifica" matTooltipPosition="above">edit</mat-icon>
            </button>
            </ng-container>
        </div>
    </form>
</div>