<div class="fontstyle" *ngIf="loaded">
    <div mat-dialog-title style="text-align:center">
        <button class="to_left" mat-icon-button (click)="exit()">
        <mat-icon matTooltip="Esci" matTooltipPosition="right">keyboard_arrow_left</mat-icon>
    </button>
        <h3>
            Modifica dati {{model.nome}}
        </h3>
    </div>
    <form #form="ngForm" [ngClass]="form_style">
        <div mat-dialog-content>
            <div class="form_group">
                <span class="label">Nome:</span>
                <text-viewedit [(ngModel)]="model.nome" name="nome" [flag]="editing" required></text-viewedit>
            </div>
            <div class="form_group">
                <span class="label">Cognome:</span>
                <text-viewedit [(ngModel)]="model.cognome" name="cognome" [flag]="editing" required></text-viewedit>
            </div>
            <div class="form_group">
                <span class="label">E-Mail:</span>
                <text-viewedit [(ngModel)]="model.email" name="email" [flag]="editing" required></text-viewedit>
            </div>
            <div class="form_group">
                <span class="label">Cellulare:</span>
                <text-viewedit [(ngModel)]="model.cellulare" name="cellulare" [flag]="editing"></text-viewedit>
            </div>
            <div class="form_group">
                <span class="label">Facebook:</span>
                <text-viewedit [(ngModel)]="model.facebook" name="facebook" [flag]="editing"></text-viewedit>
            </div>
            <div class="table-container">
                <div class="label">
                    Carriere: <br />
                    <button mat-icon-button *ngIf="editing" (click)="addCarriera()">
                    <mat-icon matTooltip="Nuova carriera" matTooltipPosition="left">add</mat-icon>
                </button>
                </div>
                <mat-table [dataSource]="carriereSource">

                    <ng-container cdkColumnDef="studente">
                        <mat-header-cell *cdkHeaderCellDef> Studente/Lavoratore </mat-header-cell>
                        <mat-cell *cdkCellDef="let row; let ind=index">
                            {{row.studente ? 'Studente' : 'Lavoratore'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="dettagli">
                        <mat-header-cell *cdkHeaderCellDef> Corso di laurea/ Professione </mat-header-cell>
                        <mat-cell *cdkCellDef="let row; let ind = index">
                            <ng-container *ngIf="!carriereEditing[ind]">
                                {{row}}
                            </ng-container>
                            <ng-container *ngIf="carriereEditing[ind]">
                                <ng-container *ngIf="row.studente">
                                    <corsi-viewedit [(ngModel)]="row.corso" [flag]="true" required name="corso"></corsi-viewedit>
                                </ng-container>
                                <mat-input-container *ngIf="!row.studente">
                                    <input type="text" [(ngModel)]="row.professione" name="professione" matInput required />
                                </mat-input-container>
                            </ng-container>
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="azioni">
                        <mat-header-cell *cdkHeaderCellDef> Azioni </mat-header-cell>
                        <mat-cell *cdkCellDef="let row; let ind=index">
                            <button mat-icon-button (click)="carriereEditing[ind] = !carriereEditing[ind]">
                            <mat-icon matTooltip="Modifica" matTooltipPosition="left">edit</mat-icon>
                        </button>
                            <button mat-icon-button (click)="deleteCarriera(ind)">
                            <mat-icon matTooltip="Elimina" matTooltipPosition="right">delete</mat-icon>
                        </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *cdkHeaderRowDef="carriereColumns"></mat-header-row>
                    <mat-row *cdkRowDef="let row; columns: carriereColumns;"></mat-row>

                </mat-table>
            </div>
            <div class="table-container">
                <div class="label">
                    Tessere: <br />
                    <button mat-icon-button *ngIf="editing && !hasTessera" (click)="addTessera()">
                        <mat-icon matTooltip="Nuova tessera" matTooltipPosition="left">add</mat-icon>
                    </button>
                </div>
                <mat-table [dataSource]="tessereSource">

                    <ng-container cdkColumnDef="numero">
                        <mat-header-cell *cdkHeaderCellDef> Numero </mat-header-cell>
                        <mat-cell *cdkCellDef="let row; let ind = index">
                            <ng-container *ngIf="!tessereEditing[ind]">
                                {{row.numero}}
                            </ng-container>
                            <ng-container *ngIf="tessereEditing[ind]">
                                <mat-input-container>
                                    <input type="text" [(ngModel)]="row.numero" name="numero" matInput/>
                                </mat-input-container>
                            </ng-container>
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="anno">
                        <mat-header-cell *cdkHeaderCellDef> Anno </mat-header-cell>
                        <mat-cell *cdkCellDef="let row"> {{row.anno}} </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="azioni">
                        <mat-header-cell *cdkHeaderCellDef> Azioni </mat-header-cell>
                        <mat-cell *cdkCellDef="let row; let ind=index">
                            <button mat-icon-button (click)="tessereEditing[ind] = !tessereEditing[ind]">
                            <mat-icon matTooltip="Modifica" matTooltipPosition="left">edit</mat-icon>
                        </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *cdkHeaderRowDef="tessereColumns"></mat-header-row>
                    <mat-row *cdkRowDef="let row; columns: tessereColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <div mat-dialog-actions style="text-align: end; flex-direction: row-reverse; padding-bottom: 10px;">
            <ng-container *ngIf="editing">
                <button mat-icon-button (click)="revert(form)">
                <mat-icon matTooltip="Annulla" matTooltipPosition="above">close</mat-icon>
            </button>
                <button mat-icon-button (click)="confirm(form)" [disabled]="form.invalid">
                <mat-icon matTooltip="Conferma" matTooltipPosition="above">done</mat-icon>
            </button>
            </ng-container>
            <ng-container *ngIf="!editing">
                <button mat-icon-button (click)="enableEditing()">
                <mat-icon matTooltip="Modifica" matTooltipPosition="above">edit</mat-icon>
            </button>
            </ng-container>
        </div>
    </form>
</div>
<div *ngIf="!loaded" class="centered">
    <mat-spinner></mat-spinner>
    <h3 style="padding: 10px 0">Loading...</h3>
</div>