form.in_dialog{
    width: 100%
}

form.in_route{
    width: 98%    
}

div{
    text-align: start
}

.label{
    text-align: right;
    display: inline-block;
    min-width: 10%;
    margin: 1%;
    font-weight: bold;
}

.centered label{
    width: 30%;
}

.table-container{
    margin: 1% 0;
}

.table-container mat-table{
    display: inline-block;
    width: 87%;
    border: rgba(0, 0, 0, 0.12) 1px solid;
    overflow-x: auto;
}

.table-container .label{
    width: 10%;
    vertical-align: top;
}

.mat-column-dettagli, .mat-column-anno{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    justify-content: space-between;
}

.mat-column-studente, .mat-column-numero{
    max-width: 20%;
}

.mat-column-azioni{
    max-width: 15%;
}