<titlebar>
  <a left mat-icon-button [href]="fileurl" (click)="downloadCsv()" #downloadAnchor [download]="filename" target="_self">
    <mat-icon matTooltip="Scarica CSV" matTooltipPosition="above">file_download</mat-icon>
  </a>
  <h2 center> Soci </h2>
  <span right fxLayout>
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Ricerca soci">
    </mat-form-field>
    <button mat-icon-button (click)="addSocio()">
        <mat-icon matTooltip="Nuovo" matTooltipPosition="above">add</mat-icon>    
      </button>
    </span>
</titlebar>
<div fxLayout fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
  <div style="width: max-content" fxFlexOrder.lt-sm="2" fxFlexAlign.lt-sm="start">
    <nav mat-tab-nav-bar>
      <a mat-tab-link (click)="socisrv.tesserati=true" [active]="socisrv.tesserati">Tesserati</a>
      <a mat-tab-link (click)="socisrv.tesserati=false" [active]="!socisrv.tesserati">Non tesserati</a>
      <a mat-tab-link (click)="socisrv.tesserati=null" [active]="socisrv.tesserati==null">Tutti</a>
    </nav>
  </div>
  <div style="margin: 0 1em;" fxFlexOrder.lt-sm="1" fxFlexAlign="end">
    <mat-slide-toggle [checked]="!socisrv.paginate" labelPosition="before"
      (change)="togglePagination()" color="primary">
      Mostra tutti
    </mat-slide-toggle>
  </div>
</div>
<div style="overflow-x: auto">
  <mat-table #table [dataSource]="sociSource" matSort>

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <ng-container cdkColumnDef="id">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="s_id"> ID </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="tessera">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="t_numero"> Tessera </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.getTessera().numero }} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="nome">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="s_nome"> Nome </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.nome}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cognome">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="s_cognome"> Cognome </mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.cognome}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="email">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="s_email"> Email </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="carriera">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="ca_matricola"> Carriera </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{ row.getCarrieraAttiva() }} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="facebook">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="s_facebook"> Facebook </mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{row.facebook}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cellulare">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header="s_cellulare"> Cellulare </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.cellulare}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="azioni">
      <mat-header-cell *cdkHeaderCellDef> Azioni </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button mat-icon-button (click)="editSocio(row)">
              <mat-icon matTooltip="Dettagli" matTooltipPosition="left">info_outline</mat-icon>
            </button>
        <a mat-icon-button routerLink="{{row.id}}">
          <mat-icon matTooltip="Dettagli" matTooltipPosition="right">link</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="socisrv.length" [pageIndex]="socisrv.index" [pageSize]="socisrv.limit" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChange($event)" *ngIf="socisrv.paginate"></mat-paginator>
</div>