.mat-cell, .mat-header-cell {
    text-align: initial;
    overflow: hidden;
    word-wrap: break-word;
}

.mat-column-tessera{
    flex-grow: 0.5;
    text-align: center;
}

.mat-column-azioni{
    text-align: center;
}

.mat-column-nome, .mat-column-cognome, .mat-column-cellulare{
    flex-grow: 1;
} 

.mat-column-email, .mat-column-carriera, .mat-column-facebook{
    flex-grow: 2;
} 