<div class="example-container mat-elevation-z8">
    <h2> Soci </h2>
    
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Ricerca soci">
    </md-input-container>
    <md-icon (click)="addSocio()">add</md-icon>    
  </div>
  
  
  <md-table #table [dataSource]="sociSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Id  </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>
          
    <ng-container cdkColumnDef="nome">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Nome </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
        <text-viewedit [flag]="row.editing" [(content)]="row.nome" placeholder="Nome" ></text-viewedit>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="cognome">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Cognome </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
        <text-viewedit [flag]="row.editing" [(content)]="row.cognome"></text-viewedit>
      </md-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="email">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Email </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
          <text-viewedit [flag]="row.editing" [(content)]="row.email"></text-viewedit>
      </md-cell>    
    </ng-container>

    <ng-container cdkColumnDef="studente">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Studente </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
        <bool-viewedit [flag]="row.editing" [(content)]="row.studente"></bool-viewedit>
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="matricola">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Matricola </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
        <ng-container *ngIf="row.studente"> 
          <text-viewedit [flag]="row.editing" [(content)]="row.matricola"></text-viewedit>
        </ng-container>
        <ng-container *ngIf="!row.studente"> - </ng-container>
      </md-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="cdl">
      <md-header-cell *cdkHeaderCellDef md-sort-header> CdL </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
        <ng-container *ngIf="row.studente"> 
          <corsi-viewedit [flag]="row.editing" [(content)]="row.cdl"></corsi-viewedit>
        </ng-container>
        <ng-container *ngIf="!row.studente"> - </ng-container>
      </md-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="professione">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Professione </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
        <ng-container *ngIf="!row.studente">
            <text-viewedit [flag]="row.editing" [(content)]="row.professione"></text-viewedit>            
        </ng-container>
        <ng-container *ngIf="row.studente"> - </ng-container>
      </md-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="facebook">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Facebook </md-header-cell>
      <md-cell *cdkCellDef="let row">
          <text-viewedit [flag]="row.editing" [(content)]="row.facebook"></text-viewedit>          
      </md-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="cellulare">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Cellulare </md-header-cell>
      <md-cell *cdkCellDef="let row"> 
          <text-viewedit [flag]="row.editing" [(content)]="row.cellulare"></text-viewedit>          
      </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="azioni">
        <md-header-cell *cdkHeaderCellDef> Azioni </md-header-cell>
        <md-cell *cdkCellDef="let row">
          <md-icon (click)="row.editing=true" *ngIf="!row.editing">mode_edit</md-icon>
          <md-icon (click)="row.editing=false" *ngIf="row.editing" (click)="updateSocio(row)">done</md-icon>          
        </md-cell>
      </ng-container>
    
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>

